
        <footer class="c-footer">
            <div class="o-wrapper u-padding-top--large u-padding-bottom--large">
              <div class="o-layout u-padding@small">
                <div class="o-layout__item u-3@large u-6@medium u-12@small u-12@tiny u-margin-bottom@small">
                  <h4><a href="https://khamsat.com/">موقع خمسات</a></h4>
                  <ul class="c-list c-list--primary">
                    <li><a href="https://khamsat.com/about">حول خمسات</a></li>
                    <li><a href="https://khamsat.com/how">كيف يعمل الموقع</a></li>
                    <li><a href="https://khamsat.com/faq">الأسئلة الشائعة</a></li>
                    <li><a href="https://khamsat.com/guarantee">إعرف كيف نضمن حقوقك</a></li>
                  </ul>
                  <div class="u-margin-top--large"></div>
                  <h4>احصل على مساعدة</h4>
                  <ul class="c-list c-list--primary">
                    <li><a href="https://khamsat.com/r/helpdesk">مركز المساعدة</a></li>
                    <li><a href="https://khamsat.com/r/helpdesk?goto=conversations">تحدث معنا</a></li>
                  </ul>
                </div>

                <div class="o-layout__item u-6@large u-6@medium u-12@small u-12@tiny u-margin-bottom@small">
                  <h4><a href="http://blog.khamsat.com/" target="_blank">مدونة خمسات</a></h4>
                  <ul id="post_list" class="c-list c-list--primary">
                    <li><a href="https://blog.khamsat.com/marketing-kpis/" title="10 من مؤشرات الأداء الرئيسية للجهود التسويقية ينبغي تتبعها" target="_blank">10 من مؤشرات الأداء الرئيسية للجهود التسويقية ينبغي تتبعها</a></li><li><a href="https://blog.khamsat.com/new-product-launch/" title="دليلك إلى إطلاق منتج جديد في السوق باحترافية" target="_blank">دليلك إلى إطلاق منتج جديد في السوق باحترافية</a></li><li><a href="https://blog.khamsat.com/supply-chain-management/" title="دليلك الشامل إلى إدارة سلاسل الإمداد Supply Chain باحترافية" target="_blank">دليلك الشامل إلى إدارة سلاسل الإمداد Supply Chain باحترافية</a></li><li><a href="https://blog.khamsat.com/handle-angry-customer/" title="9 طرق للتعامل مع العميل الغاضب باحترافية" target="_blank">9 طرق للتعامل مع العميل الغاضب باحترافية</a></li>
                  </ul>
                  <div class="u-margin-top--large"></div>
                  <h4>وسائل الدفع</h4>
                  <div class="u-margin-top">
                    <img src="../../../assets/images/payments.png" width="220">
                  </div>
                </div>

                <div class="o-layout__item u-3@large u-6@medium u-12@small u-12@tiny">
                  <h4><a href="https://khamsat.com/community">مجتمع خمسات</a></h4>
                  <ul class="c-list c-list--primary">
                    <li><a href="https://khamsat.com/community/showcase">نماذج أعمال قمت بتنفيذها</a></li>
                    <li><a href="https://khamsat.com/community/requests">طلبات الخدمات غير الموجودة</a></li>
                    <li><a href="https://khamsat.com/community/stories">تجارب وقصص المستخدمين</a></li>
                    <li><a href="https://khamsat.com/community/general">أمور عامة حول خمسات</a></li>
                  </ul>
                  <div class="u-margin-top--large"></div>
                  <h4>تابع خمسات</h4>
                  <ul class="c-list c-list--social u-margin-top--small">
                    <li class="c-list__item facebook">
                      <a href="http://www.facebook.com/KhamsatDotCom" class="c-list__link">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="c-list__item twitter">
                      <a href="http://twitter.com/KhamsatDotCom" class="c-list__link">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          <div class="c-footer__bottom">
              <div class="o-wrapper o-wrapper--noptb">
                <div class="o-layout o-layout--flex">
                  <div class="o-layout__item u-6@medium u-12@small u-12@tiny">
                    <ul class="c-list c-list--links">
                      <li class="c-list__item">
                        <a href="https://khamsat.com/terms">شروط الاستخدام</a>
                      </li>
                      <li class="c-list__item">
                        <a href="https://khamsat.com/privacy">بيان الخصوصية</a>
                      </li>
                      <li class="c-list__item">
                        <a href="https://khamsat.com/levels">المستويات</a>
                      </li>
                      <li class="c-list__item">
                        <a href="https://khamsat.com/affiliates">التسويق بالعمولة</a>
                      </li>
                    </ul>
                  </div>
                  <div class="o-layout__item u-6@medium u-12@small u-12@tiny">
                    <p class="c-footer__copyright">
                      © 2021 <a href="http://www.hsoub.com/" target="_blank">Hsoub</a>. All rights reserved.
                    </p>
                  </div>
                </div>
              </div>
            <div style="display:none; visibility:hidden"><a href="https://khamsat.com/fe51e49d447dc65a1fce3b69348b0250f70" style="display:none;visibility:hidden" rel="nofollow"></a></div>
          </div>
        </footer>
     <app-hsoub-footer></app-hsoub-footer>
