<br>
<div class="services" >
    <div class="services__container">
      <div class="services__title">
        <h2 class="services__title-text">كافة الخدمات الإبداعية والاحترافية لتطوير وتنمية أعمالك</h2>
      </div>
      <div class="clearfix">
          <div class="o-layout__item services__item u-12@tiny u-6@small  u-3@large">
              <a href="#" class="services__item-content services__item--business">
                  <span>أعمال</span>
                </a>
          </div>
          <div class="o-layout__item services__item u-12@tiny u-6@small  u-3@large">
              <a href="#" class="services__item-content services__item--programming">
                  <span>برمجة وتطوير</span>
                </a>
          </div>
          <div class="o-layout__item services__item u-12@tiny u-6@small  u-3@large">
              <a href="#" class="services__item-content services__item--marketing">
                  <span>تسويق الكتروني</span>
                </a>
          </div>
          <div class="o-layout__item services__item u-12@tiny u-6@small  u-3@large">
              <a href="#" class="services__item-content services__item--training">
                  <span>تدريب عن بعد</span>
                </a>
          </div>
          <div class="o-layout__item services__item u-12@tiny u-6@small  u-3@large">
              <a href="#" class="services__item-content services__item--video-design">
                  <span>تصميم فيديو</span>
                </a>
          </div>
          <div class="o-layout__item services__item u-12@tiny u-6@small  u-3@large">
              <a href="#" class="services__item-content services__item--designing">
                  <span>تصميم</span>
                </a>
          </div>
          <div class="o-layout__item services__item u-12@tiny u-6@small  u-3@large">
              <a href="#" class="services__item-content services__item--audio">
                  <span>صوتيات</span>
                </a>
          </div>
          <div class="o-layout__item services__item u-12@tiny u-6@small  u-3@large">
              <a href="#" class="services__item-content services__item--writing">
                  <span>كتابة وترجمة</span>
                </a>
          </div>
      </div>
    </div>
  </div>
